{% extends 'base.html' %}
<!--Nhúng file nav.html vào đầu này-->
{% include 'nav.html' %}

{% block content %}
<!-- Page header & hero area -->
<div class="body-index">
    <div class="hero">
        {% if not current_user.is_authenticated %}
            <div class="hero-title">
                <h1 style="font-size: 70px; font-family: 'Times New Roman', Times, serif;">WECOME to the LIBRARY</h1>
            </div>
        {% else %}
            <div class="hero-title">
                <h1 style="font-size: 70px; font-family: 'Times New Roman', Times, serif;">WELCOME to {{ current_user.username }}</h1>
            </div>
        {% endif %}
    </div>   <!--Kết thúc class="hero"-->
    <!--Thêm Bootstrap Carousel vào tại đây--> 
    <div class="container mt-5">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            
            <div class="carousel-indicators">
                {% for img in images %}
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{ loop.index0 }}" 
                    class="{% if loop.first %}active{% endif %}" 
                    aria-current="{% if loop.first %}true{% endif %}" 
                    aria-label="Slide {{ loop.index }}">
                </button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for img in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename='fontend/' ~ img) }}" class="d-block w-100" alt="{{ img }}">
                </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--Kết thúc Bootstrap Carousel -->
    <p class="sub" style="border: 1px solid white; border-radius: 5px; color: rgb(0, 0, 0);">Thông Tin Về Thư Viện</p>
    <hr>
        <!-- Gallery -->
    <section class="gallery">
        <div class="grid">
            <img src="{{ url_for('static', filename='fontend/anh_01.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='fontend/anh_02.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='fontend/anh_03.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='fontend/anh_04.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='fontend/anh_05.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='fontend/anh_06.jpg') }}" alt="">
        </div>

        <div class="intro card">
            <p>Thư viện Starfield tại Seoul là điểm đến lý tưởng cho những ai yêu sách và đam mê nghệ thuật. Nằm giữa trung tâm thương mại COEX Mall sầm uất, thư viện nổi bật với kiến trúc hiện đại, trần kính cao vút và những giá sách khổng lồ đầy màu sắc. Không chỉ là nơi đọc sách, Starfield còn là “thiên đường sống ảo” của giới trẻ, thu hút hàng ngàn lượt check-in mỗi ngày. Đây là không gian giao thoa giữa tri thức, thiết kế và cảm hứng sáng tạo.</p>
        </div>
    </section>

    <!-- Footer -->
<!----->
    <footer class="index-footer">
        <div class="footer-top">
            <div>
                <h3>Starfield Library</h3>
            </div>
            <div>
                <h5>Email: Library246@gmail.com</h5>
            </div>
            <div>
                <h5>Tel: 091200000000</h5>
            </div>
        </div>

        <div class="footer-address">
            <strong>Address:</strong> Tầng B1, Starfield COEX Mall, 524, Bongeunsa-ro, Gangnam-gu, Seoul, Hàn Quốc
        </div>
        <table width="100%">
            <tr>
                <td width="33%">

                </td>
                <td width="34%">
                    <div class="footer-social">
                        <a href="#"><img src="{{ url_for('static', filename='fontend/x_app.png') }}" alt="x"></a>
                        <a href="#"><img src="{{ url_for('static', filename='fontend/youtube_app.png') }}" alt="youtube"></a>
                        <a href="#"><img src="{{ url_for('static', filename='fontend/facebook_app.png') }}" alt="facebook"></a>
                        <a href="#"><img src="{{ url_for('static', filename='fontend/tiktok_app.png') }}" alt="tiktok"></a>
                        <a href="#"><img src="{{ url_for('static', filename='fontend/insragram_app.jpg') }}" alt="instagram"></a>
                    </div>
                </td>
                <td width="33%">

                </td>
            </tr>

        </table>
    </footer>
</div>  <!--body-index-->
{% endblock %}